<div class="global">
    <div class="container">
        <div class="design">
            <div class="fil4"></div>
        </div>
        <div class="login">
            <div class="fil1 rotate"></div>
            <div class="fil2 rotate"></div>
            <form>
            <h3 class="title">Datos de contacto<span class="point">.</span></h3>
            <div class="textinput">
                <input type="text" placeholder="Ingrese nombre" required ngModel name="user" id="user">
            </div>
            <div class="textinput">
                <input type="text" placeholder="Ingrese apellido">
            </div>
            <div class="textinput">
                <input type="email" placeholder="Ingrese email">
            </div>
            <div class="textinput">
                <input type="text" placeholder="Ingrese numero de telefono">
            </div>
            <div class="textinput">
                <input type="text" placeholder="Ingrese su empresa">
            </div>
            <button type="submit"  class="logbtn" (click)="irAlInicio()">Enviar</button>
    </form>
    </div>
</div>
