$alto-header:100px;
$alto-footer:16px;
$alto-body: calc(100vh - $alto-header - $alto-footer);

$fuente: -apple-system, BlinkMacSystemFont, sans-serif;


$color-principal: #1b2a4a;
$color-principal-claro: #1a429c;
$color-oscuro: #0e182d;
$color-secundario: #3063a5;
$color-secundario-claro: #5c7fa3;
$color-terciario: #9caecf;
